
  .doc-container{
    background-color: #f07238;
    color:white;
    font-weight: 700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
.doccontainer{
    
    font-weight: 700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;

}
.doc-row {
    background-color:#f1f1f1;
    border-collapse: separate;
    /* border-spacing:15px; */
    color:darkblue;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px;
    text-align: center;

}
  

  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .form-select{
      line-height:2.2;
      background-color: #f1f1f1;
  }
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .react-tel-input .country-list .country {
    padding: 8px 9px;
    color: darkslateblue;
}
.react-tel-input .form-control {
  height: 49px!important;
  width: 100%!important;
  background-color: #f1f1f1!important;
}
.card
{
	width: 350px;
	height: 250px;
  margin-left: 90px;
  border: none;
  align-items: center;
  position: relative;
}
.cardnew{
  margin-left: 200px;
	color: darkblue;
  font-weight: 700;
  padding: 20px;
}
.card3
{
  margin-left: 20px;
}
.labone
{
	margin-left: 60px;
  color: darkblue;
  position: absolute;
  bottom: 90px;
  font-weight: 600;
}
.labutton{
  margin-top: 70px;
  margin-left: 60px;
  
}
.labtwo
{
	margin-left: 150px;
  color: darkblue;
  position: absolute;
  bottom: 70px;
  font-weight: 600;
}
.labthree{
  background-color: #f07238; /* Green */
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
}
.givespace{
  margin-left: 75px;
  position: absolute;
  bottom: 20px;
}
.Instyle
{
  width: 450px;
  margin-left: 50px;
  margin-right: 50px;
  color: darkblue;
  font-weight: 600;
  position: absolute;
  bottom:65px;
}

