.conatiner {
    margin-left: 5%;
}
.form-label {
margin-top: 5%;
font-weight: 700;
}
.role {
    background-color: #f1f1f1;
    width: 20%;
}
.card-body{
    background-color: #f1f1f1;
}
.card  {
    width: 90%;
}
.card-title{
    color:#f07238;
}
