.main{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}
.main > h5{
    background-color:plum;
    margin:auto;
    padding: 10px;
}


.emp-container{
    background-color: #f07238;
    color:white;
    font-weight: 700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;

}
.empcontainer{
    
    font-weight: 700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;

}
.empcontainer .row {
    background-color:#f1f1f1;
    border-collapse: separate;
    /* border-spacing:15px; */
    color:darkblue;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    /* --bs-gutter-x: snow!important; */
}

.pos{
    display: flex;
    float: right;
    /* margin-left: 450px; */
}
.pos >button {
    width: 130px;
    border: none;
    color:black;
    font-weight:600;
    background-color: #f1f1f1;
    border-spacing: 5px;
    margin: 5px;
    float: right;

}
.pos >button:hover {
    color: #fff;
    background-color: #003366;
    border-color: #003366; /*set the color you want here*/
}
.export_image{
    height: 20px;
    margin-right: 10px;
}
.filter_image{
    height: 20px;
    margin-right: 10px;
}
.dustbin_image{
    float: right;
    margin-right: 10px;
    margin-left: 10px;

    border: none;
    
}