.project-container{
    background-color: #f07238;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
